#header, #background {
    height: 100%;
    top: 100%;
}

#header {
    padding-top: 9px;
    border-bottom: 1px solid #0099BB;
}

#background {
    padding-top: 8px;
    background: #496e91;
}

#main-container-border {
    padding: 8px 0;
    background: #1D1D1D;
    margin: 0 auto 8px;
    width: 1186px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#welcome-message {
    font-size: 16px;
    padding-top: 6px;
    color: #3A87AD;
}

.cont-login-header {
    padding-top: 3px;
}

#main-container {
}

.latest-videos {
    padding: 8px;
}

.latest-matches {
    border: 1px solid #DDD;
    padding: 8px;
}

.thumbnail {
    background: white;
}