#header, #background {
    height: 100%;
    top: 100%;
}

#header {
    padding-top: 9px;
    border-bottom: 1px solid #0099BB;
}

#background {
    padding-top: 8px;
    background: #496e91;
}

#main-container-border {
    padding: 8px 24px 8px 8px;
    background: #1D1D1D;
}

#welcome-message {
    font-size: 16px;
    padding-top: 6px;
    color: #3A87AD;
}

.cont-login-header {
    padding-top: 3px;
}

#main-container {
    padding: 8px 8px 8px 8px;
    background: white;
}

.latest-videos {
    padding: 8px;
}

.latest-matches {
    padding: 8px;
    background: #1D1D1D;
}

.thumbnail {
    background: white;
}

.module-header {
}

.border-radius-4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}