/* Variables */
@funkyGreen: #C3E82F;
@blacky: #3D3D3D;
@glossyBgColor: #E5E5E5;
@glossyBorderColor: #EEEEEE;

.clear {
    .clearfix();
}

.brightText {
    color: @blacky;
    text-shadow: @white 1px 1px 0px;
}

.glossyBox {
    border: 1px solid #EEEEEE;
    background: #E5E5E5;
}

.glowEffect {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.8)");
}

.btnStyle {
    .btn;
    cursor: default;
    padding: 0px;
    text-align: left;
    padding: 0 4px;
    display: block;
}

.btnStyleInverse {
    .btnStyle;
    .btn-inverse;
}

/* Mixin de los spans que deben ser mostrados como tipo block */

.spanBlock {
    display: block;
    margin-top: 4px;
}


html {
    background: black url('/img/backgrounds/quetzibg.jpg') 50% -40px fixed
}

body {
    background: none;
}

img {
    max-width: 100%;
    .border-radius(4px);
}

span.label a {
    text-decoration: none;
    color: @white;
}

blockquote {
    border-color: #DDD;
}

#header {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid #3A87AD;
    background: url('/img/backgrounds/dust.png') repeat;
}

#background {
}

#main-container-border {
    padding: 8px 24px 8px 8px;
    // background: #1A1F26;
    background: #1A1F26 url('/img/backgrounds/blue_overlay.jpg') repeat;
    border: 1px solid #343D4B;
    .border-radius(4px);
}

.cont-login-header {
    padding-top: 3px;
}

#main-container {
    padding: 8px 8px 8px 8px;
    background: url('/img/backgrounds/dust.png') repeat;
    .border-radius(4px);
}

/* Estilos de la barra de menú */

.menubar {
    margin-bottom: 10px;
    a.btn {
        &:hover {
        }
    }
}

.navbar {
    .nav {
        li {
            a {
                color: darken(@white, 12%);
            }
            ul.dropdown-menu {
                li {
                    a {
                        color: @blacky;
                    }
                }
            }
        }
    }
    .navbar-inner {
        background: #252a2f url('/img/menu-bg.jpg') repeat-x;
        border: 1px solid #646E78;
    }
}

.carousel {
    .border-radius(4px);
    .carousel-control {
        border: none;
        background: none;
        .opacity(50);
        font-size: 100px;
        font-weight: bold;
    }
    .carousel-caption {
        color: white;
    }
    .carousel-inner {
        .item {
            img {
            }
        }
    }
}

.latest-block {
    margin-bottom: 20px;
}

.latest-videos,
.latest-matches,
.latest-blogs,
.live-streams {
    min-height: 190px;
    position: relative;
    // padding: 4px 8px 0 8px;
    .border-radius(4px);
    .glossyBox;
    .btnStyle;
    margin-bottom: 12px;
}

.latest-videos {
    padding-bottom: 8px;
}

a.view-more {
    position: absolute;
    top: 8px;
    right: 8px;
}

.latest-matches {
    .match-row {
        font-weight: bold;
        text-shadow: @white 1px 1px 0px;
        .home-team {
            color: @linkColor;
        }
        .away-team {
            color: @blacky;
        }
    }
}

.match-row,
.blog-row,
.stream-row {
    margin-top: 12px;
}

.match-row.even,
.blog-row.even {
}

.match-row:hover {
}

span.game-logo {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    img {
        vertical-align: top;
    }
}

/*span.game-logo img {
    vertical-align: top;
}
*/
.stream-row span.game-logo {
}

.match-row span.score {
    font-weight: bold;
    margin: 0 5px;
    font-size: 14px;
}

.match-row span.winner-score {
    color: @green;
}

.match-row span.loser-score {
    color: #B94A48;
}

.blog-row h4.blog-title,
.stream-row h4.stream-title {
    color: @linkColor;
    text-shadow: @white 1px 1px 0px;
}

.blog-row .blog-info span {
    margin-right: 8px;
}

.blog-row .blog-views,
.stream-row .stream-views {
    color: @funkyGreen;
}

.news-row {
    .btnStyle;
    padding: 8px;
    margin-bottom: 20px;
    position: relative;
    .border-radius(4px);
    .news-image {
        margin-right: 8px;
        width: 120px;
        height: 120px;
        overflow: hidden;
    }
    .news-title {
        .brightText;
        color: @linkColor;
        span {
            font-weight: normal;
            font-size: 10px;
            font-style: italic;
        }
    }
    .news-details {
        margin-bottom: 4px;
        span {
            margin-right: 4px;
            font-size: 12px;
            small {
                font-style: italic;
            }
        }
    }
    .news-content {
        color: @blacky;
        text-align: justify;
    }
    .news-tag {
        height: 120px;
        width: 30px;
        margin-left: 8px;
        .border-radius(4px);
        background: @black url('/img/news/cs-tag.jpg') no-repeat;
    }
}

.thumbnail {
    background: white;
}

.module-header {
    h3 {
        .brightText;
        text-align: left;
    }
}

.header-logo {
    font-weight: bold;
    font-size: 32px;
    .brightText;
    color: @linkColor;
}

.header-main-sponsor {
    margin-bottom: 12px;
    .main-sponsor img {
        display: block;
        margin: 0 auto;
    }
}

.lateral-sponsor {
    .border-radius(4px);
    background: @black;
}

.footer {
    margin-top: 12px;
    .credits {
        font-size: 12px;
        text-align: center;
        color: @white;
        a {
            font-style: italic;
            color: @linkColor;
        }
    }
}

div.form {
    fieldset {
        legend {
            .brightText;
            color: @linkColor;
            border-bottom: 1px solid #DDD;
        }
        .control-label {
            font-weight: bold;
            color: @linkColor;
        }
        .help-block {
            font-size: 12px;
            margin-top: 0px;
        }
    }
}

.page-header {
    border-bottom: 1px solid @white;
}

/* Estilos del pozo de acciones de usuario */

.well.userActions {
    .btn {
        margin-right: 10px;
    }
}

/* Estilos del bloque de autores */

.author-block {
    .author-picture {
        margin-bottom: 8px;
    }
    .author-info {
        span {
            .spanBlock;
        }
    }
}

/*  Estilos del view de news */

.new-view {
    .new-main {
        .new-title {
        }
        .new-details {
            span {
                margin-right: 4px;
                font-size: 12px;
                small {
                    font-style: italic;
                }
            }
        }
        .new-social {
            margin-bottom: 8px;
            margin-top   : 8px;
        }
        .new-content {
            // background: @white;
            text-align: justify;
        }
    }
}

/* Estilos del index de Videos */

.videos-index {
    .video-container {
        .thumbnail {
            iframe {
            }
            .video-title {
            }
            .video-info {
                margin: 4px 0;
                span.label {
                    margin-right: 4px;
                }
            }
        }
    }
}

/* Estilos de view de Videos */

.video-view {
    .video-author {
        .author-picture {
        }
        .author-info {
            span {
                .spanBlock;
            }
        }
    }
}

/* Estilos del index de la galeria */

.galleries-index {
    .gallery-content {
        border-bottom: 1px solid @white;
        .gallery-name {
        }
        .thumbnails {
        }
    }
}

.galleries-index,
.galleries-home {
    .gallery-content {
        ul {
            list-style: none;
            margin: 0;
            display: block;
            li {
                display: inline;
                float: left;
                div {
                    display: inline-block;
                    position: relative;
                    height: 60px;
                    width: 100px;
                    img {
                        height: 60px;
                        width: 100px;
                        position: absolute;
                        z-index: 998;
                        left: 0px;
                        top: 0px;
                        overflow: hidden;
                        .border-radius(0px);
                        &:hover {
                            // z-index: 999;
                            // height: 80px;
                            // min-width: 120px;
                            // left: -10px;
                            // top: -10px;
                            .glowEffect;
                        }
                    }
                }
            }
        }
        .clearfix();
        .gallery-name {
        }
        .thumbnails {
        }
    }
}

/* Estilos de los comentarios del facebook */

.fb-comments {
    margin-top: 10px;
}

/* Estilos de los links en la seccion de Misc */

.shortcut {
    padding: 20px;
    text-align: center;
}

/* Estilos de los recuadros de actividades del usuario */

.user-activity {
    min-height: 190px;
    .border-radius(4px);
    .btnStyle;
}

/* Estilos de los listados de usuarios */

.users-index {
    .user-container {
        .thumbnail {
            .user-info {
                span {
                    .spanBlock;
                }
            }
        }
    }
}

/* Estilos de los paises */

.paises {
    .pais {
        margin-bottom: 8px;
    }
}

// Estilos para las imagenes dentro de span1 por lo general fotos de galerias

.thumbnails {
    .span1 {
        .thumbnail {
            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}

/* Estilos de la vista de photos */

.photo-content {
    img {
        max-width: 600px;
    }
}

/* Estilos de los live-streams */

.live-stream {
    .btnStyle;
    margin-bottom: 12px;
    .embed-video {
        margin: 4px 4px 4px 0;
    }
    .label-container {
        margin-bottom: 6px;
    }
    .clearfix();
}

/* Estilos de los live streams en la página de inicio */

.live-streams {
    .nav {
        margin-bottom: 4px;
    }
    .well {
        padding: 8px;
        overflow: auto;
    }
    .mini-live-stream {
        margin-bottom: 3px;
        overflow: hidden;
        .label-container {
            margin-bottom: 3px;
            span.label {
                margin-right: 4px;
            }
        }
        a {
        }
        .clearfix();
    }
}

/* Estilos de la vista View de los teams */

.teams-index {
    .team-content {
        .team-picture {
            margin-bottom: 12px;
        }
        .players-content {
            .player-content {
                margin-bottom: 12px;
            }
        }
    }
}

/* Estilos de los post en su index */

.posts-container {
    .post-wrapper {
        .post-title {
        }
        .post-info {
            span {
                margin-right: 4px;
                font-size: 12px;
                small {
                    font-style: italic;
                }
            }
        }
        .post-content {
            margin: 10px 0;
            border-left: 5px solid #DDD;
            padding-left: 10px;
            text-align: justify;
        }
    }
}

/* Estilos de los post en su view */

.post-view {
    .post-main {
        .new-title {
        }
        .post-details {
            span {
                margin-right: 4px;
                font-size: 12px;
                small {
                    font-style: italic;
                }
            }
        }
        .post-social {
            margin: 8px 0;
        }
        .post-content {
            text-align: justify;
        }
    }
}

/* Estilos de los post en el index del home */

.latest-blogs {
    .latest-blogs-wrapper {
        list-style: none;
        margin: 0;
        display: block;
        .blog {
            display: inline;
            float: left;
            margin-bottom: 6px;
            .title {
                font-weight: bold;
            }
            .info {
                span {
                    font-size: 12px;
                    margin-right: 4px;
                    small {
                        font-style: italic;
                    }
                }
            }
        }
    }
}

/* Estilos del recuadro RSS */

.rss-feed {
    margin-bottom: 8px;
    a {
        display: block;
        margin: 0 auto;
    }
}

/* Estilos de los patrocinadores */

.sponsors {
    .sponsor {
        margin-top: 6px;
        margin-bottom: 6px;
        .logo-sponsor {
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.featuredNew {
    position: relative;
    .new-caption {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.746094);
        bottom: 0;
        left: 0;
        a {
            color: white;
        }
    }
}
